* {
  box-sizing: content-box;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.image_geometry_1 {
  width: 111px;
  height: 74px;
  left: 0;
  top: 0;
}

.about_me {
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding-top: 50px;
}

.ic_menu {
  width: 40px;
  height: 14px;
  margin: 15px;
}

.my_name {
  /* width: 220px; */
  height: 100px;
  left: 16px;
  top: 240px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color: #080b14;
}

.discription {
  /* width: 288px; */
  height: 147px;
  left: 16px;

  /* top: 250px; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding: 40px 0 0 0;
}

.collaborating_btn {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  left: 16px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.image_geometry_2 img {
  width: 100%;
  height: 100%;
}
.projects{
width: 181px;
height: 50px;
left: 16px;
top: 672px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 100%;
}
.project_desc{
    background-color: #1A2236;;
width: 100%;
/* border: 0.333333px solid rgba(255, 255, 255, 0.1); */
}

.button{
    display: flex;
    gap:1em;
}
.here_proj{
font-family: 'Poppins';
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 24px; 
color: #FFFFFF;
padding-top: 20px;
}
.see_proj{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
color: #FFFFFF;
background-color: #1A2236;
padding: 10px;
margin-bottom: 20px;
border: solid 1px #a59090;
}
.my_project{
display: flex;
flex-direction: column;
width: 320px;
left: 0px;
gap:1em;
padding-left:20px;
}
.lang{
background: #98DEDE;
; 
}